body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    color: #333;
}


header {
    background: #2c3e50;
    color:white;
    padding: 15px;
    text-align: center;
}

nav {
    background: #34495e;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

nav a:hover {
    background: #1abc9c;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    border-radius: 8px;
}


.ce {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-CV {
    display: inline-flex; /* pour que le bouton prenne seulement la largeur de son contenu */
    font-weight: 700;
    color: black;
    background: #06b6d4; 
    border-radius: 12px; /* arrondi du bouton */
    border: 1px solid rgba(0,0,0,0.2); /* bordure fine et discrète */
    padding: 8px 16px; /* espace à l'intérieur */
    text-decoration: none;
}

.btn-VM {
    display: inline-flex; /* pour que le bouton prenne seulement la largeur de son contenu */
    font-weight: 700;
    color: black;
    background: #06b6d4; 
    border-radius: 12px; /* arrondi du bouton */
    border: 1px solid rgba(0,0,0,0.2); /* bordure fine et discrète */
    padding: 8px 16px; /* espace à l'intérieur */
    text-decoration: none;
}

.btn-RJ45 {
    display: inline-flex; /* pour que le bouton prenne seulement la largeur de son contenu */
    font-weight: 700;
    color: black;
    background: #06b6d4; 
    border-radius: 12px; /* arrondi du bouton */
    border: 1px solid rgba(0,0,0,0.2); /* bordure fine et discrète */
    padding: 8px 16px; /* espace à l'intérieur */
    text-decoration: none;
}
